@media not print {
  .dd-print-only {
    display: none;
  }
}
.dd-backdrop {
  background-color: #EFEFEF;
}
.dd-backdrop-dev {
  background-color: #CCECFF;
}


h2 {
    color: #1E8CEB;
    margin-bottom: 1.9rem;
    margin-top: 3rem;
    text-align:  center;
    font-size: 2rem;
    font-weight: 300;
}

.dd-sub-spiel {
    text-align: center;
    color: #999;
    font-size: 1.4rem;
}

.dd-sub-spiel a {
    color: #78b7e8;
}

.dd-header-logo {max-width: 10.5rem;}

.dd-header {
    /* margin-top: 3rem; */
    display:  flex;
    align-items: center;
    justify-content:  space-between;
}

.dd-header ul {
  list-style-type: none;
}

.dd-header-buttons {
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: flex-end;
    padding:  0;
    margin:  0;
    width:  60%;
}




body {
    padding-top: 3.3rem;
}

.col-8.dd-spiel {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.dd-component {
    border: solid #dde5ed 1px;
    border-radius: 8px;
    margin: 18px;
    transition: max-height 0.25s ease-in;
    max-height:  10000px;
    padding: 30px;
}

.btn-primary {
    color: #1e8ceb;
    background-color:  #E3F4FD;
    border-color:  #E3F4FD;
    background-image: none;
    margin-top: 15px;
}

.dd-component-row {margin-left: -20px;margin-right: -20px;}



h3 {
    color: #9dafc0;
    font-size:  1.4rem;
    margin-bottom: 1rem;
}

body {
    color: #777;
    font-size: inherit;
}

.js-flow.js-flow-reclaim.fade.in {}

.btn-primary:hover {
    background-image: none;
    border-color: #1e8ceb;
    background-color: #1e8ceb;
}

html {
    font-size: 15px;
}


.btn-primary:disabled {
  background-color: #E3F4FD;
  border-color: #E3F4FD;
  opacity: .6;
}

.dd-or {
    display:  flex;
    align-items:  center;
    justify-content: center;
}

.dd-button-row {
    padding-top: 30px;
}

.dd-no-margins {
    margin: 0;
}

.dd-button-row .btn {
    margin-top: 0px;
    margin-left: 20px;
    margin-right:  20px;
}


.dd-finalize-button .btn {
    font-size: 1.6rem;
}

.dd-import-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.dd-import-button .btn {
    margin-top: 0px;
    width: 8rem;
}

.dd-generate-new {
    padding-left: 3rem;
    padding-right:  3rem;
}

.dd-finalize-button {
    display:  flex;
    justify-content: center;
    align-items:  center;
}

.dd-import-claims .btn {
    margin-top:  0.7rem;
}

.dd-main-container {
    width: 1180px;
}

.dd-header-buttons > * {
    margin-left: 1rem;
}


/* These are required for google's material.io font icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./images/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./MaterialIcons-Regular.woff2) format('woff2'),
    url(./MaterialIcons-Regular.woff) format('woff'),
    url(./MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* End google css for material.io */



.dd-header-rates {
  display:  flex;
  flex-direction:  column;
  margin:  0;
  padding: 2rem 0 0 0;
}



.dd-header-buttons a { 
  margin: 0 0 0 1rem; 
}

.btn {
    border-radius: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: inherit;
}


.btn i {
    text-align: center;
    vertical-align: middle;
}

.dd-spiel-containter {
    justify-content: center;
}
